<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- Usage: 
  
      Default launch of monitor:
          LogMonitor.exe 
          
      Launch and run monitoring for first saved log:
          LogMonitor.exe -run
          
      Launch and run monitoring for file c:\Your app\app.log:
          LogMonitor.exe -run c:\YourApp\app.log
          
      Launch and run monitoring for file c:\Your app\app.log using certain mapping:
          LogMonitor.exe -run "c:\Your app\app.log" -mapping=yourapp
          
      Launch with checked levels and highlighted lines:
          LogMonitor.exe -levels=Debug,Error,Fatal -highligh=1
    -->
  <configSections>
    <section name="MonitorSection" type="LogMonitor.Configuration.MonitorSection, LogMonitor"/>
  </configSections>
  <MonitorSection>
    <SavedLogs>
      <add log="D:\Project\VMS\trunk\RVI.Operator\bin\x86\Debug\logs\Rvi operator log.txt" autostart="true"/>
      <add log="D:\Project\VMS\trunk\RVI.MainServerConsole\bin\x86\Debug\logs\Rvi vms server log.txt" autostart="true"/>
      <add log="D:\Project\VMS\release-0.3.7\RVI.Operator\bin\x86\Debug\logs\Rvi operator log.txt" autostart="true"/>
      <add log="D:\Project\VMS\release-0.3.7\RVI.MainServerConsole\bin\x86\Debug\logs\Rvi vms server log.txt" autostart="true"/>
      <add log="C:\Program Files (x86)\RVI\RVi Operator Client\logs\Rvi operator log.txt" autostart="true"/>
      <add log="C:\Program Files (x86)\RVI\RVi Operator Server\logs\Rvi vms server log.txt" autostart="true"/>
      <add log="D:\Project\VMS\trunk\RviVmsSetup\bin\Debug\custom.log" autostart="true"/>
    </SavedLogs>
    
    <!-- Window config 
          Monitor: Number of startup monitor (>=1). Defaults to zero (window shows at monitor where mouse point shown)
          Position types: Center, Top, Bottom. Default: Center
    -->
    <Window width="1440" height="350" monitor="2" position="Bottom"/>
    
    <LevelColors>
      <add level="Debug" color="Transparent"/> <!-- or #00FFFFFF -->
      <add level="Info" color="GreenYellow"/>
      <add level="Warn" color="DarkOrange"/>
      <add level="Error" color="Red"/>
      <add level="Fatal" color="BlueViolet"/>
    </LevelColors>

    <!-- Column types: Text, Time, Level, Message, Skip. Default: Text -->
    <ColumnMapping name="default" separator="|" default="true">
      <columns>
        <Column header="Время" type="Time"/>
        <Column header="Уровень" type="Level"/>
        <Column header="Место" path="Cite"/>
        <Column header="Сообщение" type="Message"/>
      </columns>
    </ColumnMapping>
    <ColumnMapping name="file" pattern="ManagedThreadId: (\d+), time: (.*?). --> (.*)$">
      <columns>
        <Column header="ManagedThreadId"/>
        <Column header="Время" type="Time"/>
        <Column header="Сообщение" type="Message"/>
      </columns>
    </ColumnMapping>
    <ColumnMapping name="wix" pattern="MSI \(c\) \((.*?)\) \[(.*?)\]: (.*)$">
      <columns>
        <Column header="Код"/>
        <Column header="Время" type="Time"/>
        <Column header="Сообщение" type="Message"/>
      </columns>
    </ColumnMapping>
  </MonitorSection>
</configuration>