<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- Usage: 
  
      Default launch of monitor:
          LogMonitor.exe 
          
      Launch and run monitoring for first saved log:
          LogMonitor.exe -run
          
      Launch and run monitoring for file c:\Your app\app.log:
          LogMonitor.exe -run c:\YourApp\app.log
          
      Launch and run monitoring for file c:\Your app\app.log using certain mapping:
          LogMonitor.exe -run "c:\Your app\app.log" -mapping=yourapp
          
      Launch with checked levels and highlighted lines:
          LogMonitor.exe -levels=Debug,Error,Fatal -highligh=1
          
      Launch with localization language:
          LogMonitor.exe -lang=en
    -->
  <configSections>
    <section name="MonitorSection" type="LogMonitor.Configuration.MonitorSection, LogMonitor"/>
  </configSections>
  <MonitorSection>
    <SavedLogs>
      <add log="C:\Projects\LogMonitor\bin\Debug\LogMonitor.log" autostart="true"/>
    </SavedLogs>
    
    <!-- Window config 
          Monitor: Number of startup monitor (>=1). Defaults to zero (window shows at monitor where mouse point shown)
          Position types: Center, Top, Bottom. Default: Center
    -->
    <Window width="1440" height="350" monitor="2" position="Bottom"/>
    
    <LevelColors>
      <add level="Debug" color="Transparent"/> <!-- or #00FFFFFF -->
      <add level="Info" color="GreenYellow"/>
      <add level="Warn" color="DarkOrange"/>
      <add level="Error" color="Red"/>
      <add level="Fatal" color="BlueViolet"/>
    </LevelColors>

    <!-- Column types: Text, Time, Level, Message, Skip. Default: Text -->
    <ColumnMapping name="default" separator="|" default="true">
      <columns>
        <Column header="Time" type="Time"/>
        <Column header="Level" type="Level"/>
        <Column header="Cite" path="Cite"/>
        <Column header="Message" type="Message"/>
      </columns>
    </ColumnMapping>
    <ColumnMapping name="wix" pattern="MSI \(c\) \((.*?)\) \[(.*?)\]: (.*)$">
      <columns>
        <Column header="Code"/>
        <Column header="time" type="Time"/>
        <Column header="Message" type="Message"/>
      </columns>
    </ColumnMapping>
  </MonitorSection>
</configuration>